@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-main;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
